@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Nunito&family=Poppins:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-y: auto;
  font-size: 14px;

  a {
    color: inherit;
    text-decoration: none;
  }

  .container {
    max-width: 980px !important;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 16px;
    background-color: #000080;
    color: #fff;
    padding: 5px 10px;
  }

  .custom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #a9a7a7;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 15px -20px;
    .nav-link {
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 0 10px;
      font-size: 14px;
      color: #000080;
      transition: all 0.3s ease-in-out;
      /* text-transform: uppercase; */
      font-weight: 600;

      &:hover {
        color: #c0392b;
      }
    }
  }

  // footer
  footer {
    margin: 20px 0;
    text-align: center;
    font-size: 15px;
    // font-family: "Dangrek", cursive;
    display: flex;
    align-items: center;
    justify-content: space-around;
    svg {
      color: #000080;
      cursor: pointer;
      margin: 0 10px;
    }
  }

  // Home
  .Home {
    min-height: 100vh;
    font-family: "Nunito", sans-serif;

    /* FlashNews */
    .flash-news {
      background-color: #fff;
      padding: 10px;
      border-radius: 5px;
      h5 {
        color: #da9007;
        font-family: "Dangrek", cursive;
        margin: 0;
        margin-bottom: 5px;
      }
      p {
        color: #575a5e;
        font-weight: bold;
        font-size: 14px;
        margin: 0 10px;
      }
    }

    /* Banner */
    .carousel {
      .screen {
        width: auto !important;
        height: auto !important;
      }
    }

    /* welcome */
    .Welcome {
      background-color: #ffffffe3;
      .descrip {
        border: 1px solid #adb0ac;
        border-radius: 20px 20px 0 20px;
        font-size: 12px;
        padding: 20px;
        /* font-weight: bold; */
      }
    }

    /* circulars */
    .Cirsulars {
      margin: 30px 0;
      .title {
        color: #fff;
      }
      .link {
        padding: 0px 20px;
        width: 100%;
        text-align: right;
        color: #000080;
        font-weight: bold;
      }
      .table {
        border: 1px solid #d6d6d6;
        .item {
          padding: 5px;
          cursor: pointer;
          border-bottom: 1px solid #d6d6d6;
          p {
            font-size: 14px;
            margin: 0;
            font-weight: bold;
            a {
              color: #063ccf;
            }
            // white-space: nowrap;
            // overflow: hidden;
            // text-overflow: ellipsis;
          }
          svg {
            color: #da9007;
          }
          i {
            color: gray;
            font-size: 12px;
          }
        }
      }
    }

    // Links
    .Links {
      p {
        margin: 0;
      }
      ul {
        padding: 0;
      }
      .Link {
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 5px;
        font-weight: bold;
        cursor: pointer;
        border: 1px solid #d6d6d6;
        a {
          color: gray;
          &:hover {
            color: #063ccf;
          }
        }
      }
    }

    .Contact-Info {
      margin-top: 30px;
      border: 1px solid #d6d6d6;
      p {
        span {
          font-weight: bold;
        }
      }
    }

    .Subscribe {
      margin-top: 30px;
      border: 1px solid #d6d6d6;
      .mute {
        color: rgb(52, 50, 50);
        padding: 0 5px;
        margin: 0;
        margin-bottom: 10px;
        font-size: 12px;
      }
      form {
        border-radius: 5px;
        padding: 5px;
        // color: #fff;
        .btn {
          background-color: #da9007;
          border: none;
          width: 100%;
        }
        .text-muted {
          color: #c3c3c7 !important;
        }
      }
    }
  }
}

// Affiliations
.Affiliations {
  font-family: "Poppins";
  h3 {
    color: #000080;
    font-family: "Poppins";
    text-decoration: underline;
  }
  .Affiliate {
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 2px solid #fff;
    .discrp {
      font-family: "Poppins", sans-serif;
    }
    .logo {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      margin-right: 30px;
      color: #fff;
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      border-left: 5px solid #000080;
      .icon {
        background-color: #000080;
      }
    }
    p {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}

.central-office-bearers,
.gallery {
  iframe {
    width: 100% !important;
    height: 400px;
    margin: 30px 0px;
  }
  font-family: "Poppins";
  h4 {
    background: #000080;
    font-weight: 600;
    font-family: "Poppins";
    padding: 10px;
    color: white;
  }
  .bearers {
    cursor: pointer;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
    .bearers-inner {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .discrp {
      h5 {
        color: #000080;
        font-weight: bold;
        font-family: "Poppins";
        margin-bottom: 15px;
      }
      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  }
}

.contact {
  font-family: "Poppins";
  h2 {
    font-weight: bold;
  }
  .contact-cards {
    margin-top: 40px;
    .contact-card {
      min-height: 260px;
      margin-bottom: 20px;
    }
    .card {
      h3 {
        margin: 30px;
        font-weight: 600;
      }
      .address,
      .phone,
      .email {
        margin-left: 30px;
        margin-bottom: 30px;
        p {
          font-size: 13px;
          margin-left: 10px;
          margin-right: 5px;
        }
      }
    }
  }
  .contactForm {
    margin-top: 50px;
    h2 {
      font-weight: bold;
    }
    .group {
      position: relative;
      margin-bottom: 45px;
    }
    input {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-bottom: 1px solid #757575;
      width: 400px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    input:focus {
      outline: none;
    }

    label {
      color: rgba(0, 0, 0, 0.26);
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }

    input:focus ~ label,
    input:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #000080;
    }

    .bar {
      position: relative;
      display: block;
      width: 400px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    .bar:before,
    .bar:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #000080;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .bar:before {
      left: 50%;
    }
    .bar:after {
      right: 50%;
    }

    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
      width: 50%;
    }

    .highlight {
      position: absolute;
      height: 60%;
      width: 100px;
      top: 25%;
      left: 0;
      pointer-events: none;
      opacity: 0.5;
    }

    input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      -moz-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease;
    }

    textarea {
      font-size: 18px;
      padding: 10px 10px 10px 5px;
      display: block;
      border: none;
      border-bottom: 1px solid #757575;
      width: 400px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
    textarea:focus {
      outline: none;
    }

    textarea:focus ~ label,
    textarea:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #000080;
    }

    textarea:focus ~ .bar:before,
    textarea:focus ~ .bar:after {
      width: 50%;
    }

    .sendBtn {
      padding: 10px 20px;
      background: #000080;
      width: 400px;
      @media screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }
  .location {
    margin-top: 50px;
    h2 {
      font-weight: bold;
    }
    .card {
      margin-top: 40px;
      width: 100%;
      min-height: 500px;
    }
  }
}
